<!DOCTYPE HTML>
<html>

<head>
<title>Home</title>
<meta charset="utf-8"/>
<link href="css/index.css" type="text/css" rel="stylesheet"/>
<link href="css/Registered.css" type="text/css" rel="stylesheet"/>
<script src="js/js.js"></script>
</head>

<body>

<!--logo-->
    <div class="logo"><a href="#"><img src="D:\Desktop\三创\1.png" width="70" height="50"></a></div>
<!--搜索框-->
    <div class="search">
        <div class="z-index_three">
            <form action="#" name="search">
                <table border="0" cellpadding="0" cellspacing="0" id="search_height">
                    <tr>
                        <td>
                            <input type="text" name="q" title="Search" class="searchinput" id="searchinput" onKeyDown="if (event.keyCode==13) {}" onBlur="if(this.value=='')value=' 搜你想搜 ';" onFocus="if(this.value==' 搜你想搜 ')value='';" value=" 搜你想搜 " size="20"/>
                        </td>
                        <td>
                           <a href="#" class="button blue">搜索</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="bg"></div>
    </div>

<br/><br/>
    
    <div id="div">
        <div class="divfont">
            <ul class="hengpai">
                <li><a href="#">回测框架</a></li>
                <li><a href="#">策略研究</a></li>
                <li><a href="#">数据API</a></li>
                <li><a href="#" >因子挖掘</a></li>
                <li><a href="#" >使用说明</a></li>
            </ul>
            <style type="text/css">
            .hengpai li{
                width:150px;
                float:left;
            }
            </style>
        </div>
    </div>

    <style type="text/css">
        .logo,.search{
            width:100px;
            height:50px;
            float:left;
        }
    </style>

<br/><br/>

<!--画面内容-->
<h3 style="text-align:center;font-family:KaiTi;font-size:30px;color:rgb(82, 182, 225)">关于我们</h3>
<blockquote style="text-align:center;font-family:KaiTi;font-size:18px">搭建面向期货的教学科研一体化集成式量化交易系统<br/>实现实时行情采集，策略及优化<br/>包括但不限于经典策略复现、利用机器学习算法优化因子等<br/>为量化交易投资者与爱好者提供检测、优化其量化策略的平台</blockquote>
<img src="D:\Desktop\网页可用图片\image124.jpg"/>
<img src="D:\Desktop\网页可用图片\image129.gif"/>
<img src="D:\Desktop\网页可用图片\image124.jpg"/>
<h3 style="text-align:center;font-family:KaiTi;font-size:30px;color:rgb(82, 182, 225)">在这里，你可以</h3>
<blockquote style="text-align:center;font-family:KaiTi;font-size:18px">精准地专业地面对期货市场<br/>享受教学与科研一体化的集成性系统<br/>对接券商公司，进行模拟盘联系<br/>体验新兴技术带来的便捷<br/>……</blockquote>

 
<!--login-->
    <div id="login">
        <div class="box" id="box">
            <span class="Registeredfont">Login</span>
            <form method="post" action="#">
                <table>
                    <tr>
                        <td width="300"><input type="text" class="input" placeholder="帐号"></td>
                    </tr>
                    <tr>
                        <td><input type="password" class="input" placeholder="密码"></td>
                    </tr>
                    <tr>
                        <td><button type="submit" id="login-button">登入</button></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="Loginboxbg"></div>
        <div class="boxbackground"></div>
    </div>

<br /> 
         
<!--Registered-->
        <div id="Registered">
            <div class="box" id="box">
                <span class="Registeredfont">Registered</span>
                <form method="post" action="#">
                    <table>
                        <tr>
                            <td width="300"><input type="text" class="input" placeholder="用户名"></td>
                        </tr>
                        <tr>
                            <td><input type="password" class="input" placeholder="密码"></td>
                        </tr>
                        <tr>
                            <td><input type="password" class="input" placeholder="再次输入密码"></td>
                        </tr>
                        <tr>
                            <td width="300"><input type="text" class="input" placeholder="电子邮箱"></td>
                        </tr>
                        <tr>
                            <td><button type="submit" id="login-button">立即注册</button></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="Registeredboxbg"></div>
            <div class="boxbackground"></div>
        </div>
	</div>
           
<br /> <br /> 

<!--bottom-->
    <div id="bottom">
    登辉量化课题
    </div>
         
</body>
<html>
